/* styles.css */

/* Estilos gerais */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Modal de cadastro */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilita rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro com transparência */
}

/* Estilo do conteúdo do modal */
.modal-content {
    background-color: var(--modal-bg);
    margin: 15% auto; /* 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* Ajustes para modo escuro */
:root {
    --bg-color: white;
    --text-color: black;
    --modal-bg: white;
}

[data-theme='dark'] {
    --bg-color: black;
    --text-color: white;
    --modal-bg: #333;
}
