@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Sobre";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p>O **DinFlow** é um aplicativo fácil de usar, projetado para ajudá-lo a gerenciar suas finanças pessoais de maneira eficiente. Com uma interface intuitiva e elegante, o DinFlow permite que você acompanhe suas despesas, monitore sua renda e planeje suas economias — tudo em um só lugar.</p>

    <h4>Principais Recursos:</h4>
    <ul>
        <li><strong>Acompanhamento de Despesas:</strong> Registre e categorize facilmente suas despesas para obter insights sobre seus hábitos de consumo.</li>
        <li><strong>Gestão de Renda:</strong> Mantenha o controle de todas as suas fontes de renda, ajudando você a entender sua situação financeira.</li>
        <li><strong>Planejamento de Orçamento:</strong> Defina e gerencie orçamentos para diferentes categorias para garantir que você permaneça dentro de suas metas financeiras.</li>
        <li><strong>Metas de Economia:</strong> Crie metas de economia personalizadas para motivá-lo a economizar de forma mais eficiente.</li>
        <li><strong>Modo Escuro:</strong> Desfrute de uma experiência de visualização confortável a qualquer hora do dia com nosso elegante recurso de modo escuro.</li>
        <li><strong>Interface Amigável:</strong> Navegue facilmente pelo aplicativo com um design limpo e simples.</li>
    </ul>

    <p>Com o <strong>DinFlow</strong>, você toma o controle de suas finanças e toma decisões informadas para garantir um futuro financeiro melhor.</p>
</main>
