@model DinFlow.Models.Categoria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-sm btn-primary" title="Voltar" role="button" href="@Url.Action("Index")">
        <i class="bi bi-arrow-left"></i> Back to List
    </a>
    <a class="btn btn-sm btn-warning me-2 text-dark" title="Edit" role="button" href="@Url.Action("Edit", new { id = Model.Id })">
        <i class="bi bi-pencil-square"></i> Edit
    </a>
</p>
